@import "../../../../variables";

.about-container {
    @include container;

    .about-section {
        margin: $margin_between_sections 0;
        display: flex;
        flex-direction: column;
        gap: 100px;

        &__block {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            width: 90%;

            &--space {
                margin-top: 40px;
            }
        }

        .images {
            width: 60%;
            position: relative;
            display: flex;
            justify-content: flex-end;

            &--bottom {
                width: 40%;
            }

            &__image {
                height: 250px;
                position: absolute;
                z-index: 1;

                &--left {
                    bottom: -50px;
                    left: 25%;
                }

                &--right {
                    top: -50px;
                    right: -25%;
                }
            }

            &__image-vertical {
                height: 450px;
            }
        }

        &__block-reverse {
            width: 40%;
            display: flex;
            justify-content: flex-end;
        }
    }
}


@media screen and (max-width: 900px) {
    .about-container {
        padding: $container_padding-mobile;

        .about-section {
            margin: $margin_between_sections-mobile 0;

            .images {
                &__image {
                    height: 140px;

                    &--left {
                        bottom: -20px;
                        left: 35%;
                    }

                    &--right {
                        top: -20px;
                        right: -15%;
                    }
                }

                &__image-vertical {
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .about-container {
        .about-section {
            &__block {
                width: 100%;
                gap: 20px;
            }

            .images {
                width: auto;

                &__image {

                    &--right,
                    &--left {
                        display: none;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 420px) {
    .about-container {
        .about-section {
            gap: 40px;

            &__block--space {
                margin-top: 0px;
            }

            &__block {
                flex-direction: column;

                &:last-child {
                    flex-direction: column-reverse;
                }
            }

            .images {
                &__image-vertical {
                    display: none;
                }
            }
        }
    }
}