@import "../../variables";

.main {
    &__section-separator {
        background-image: url('../../../public/images/background/section-separator.jpg');
        height: 300px;
        background-size: cover;
        margin-top: $margin_between_sections;
    }
}

@media screen and (max-width: 900px) {
    .main {
        &__section-separator {
            height: 200px;
            margin-top: $margin_between_sections-mobile;
        }
    }
}