@import "../../../../variables";

.signboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__threads {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    &__thread {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__thread-line {
        width: 1.5px;
        height: 80px;
        background-color: $main_dark_color;
    }

    &__thread-icon {
        width: 20px;
        margin-top: -10px;
        z-index: 1;
    }

    &__board {
        margin-top: -7px;
        display: flex;
        width: 60%;
        border-radius: 50px;
        box-shadow: 3px 2px 8px #4f4f4f38;
    }

    &__logo {
        background-color: $green;
        color: $main_light_color;
        font-size: 27px;
        text-transform: uppercase;
        padding: 20px 30px;
        border-radius: 50px 0 0 50px;
        width: 30%;
        text-align: center;
    }

    &__search {
        background-color: $tertiary;
        width: 40%;
        padding: 20px 40px;
        font-size: 20px;
    }

    &__order {
        background-color: $red;
        border-radius: 0 50px 50px 0;
        @include flex-center;
        width: 30%;
    }

    &__button {
        @include button(#fffcf96f, $main_light_color, 50px, transparent, 16px);
    }
}