@import "../../../../variables";

.filter {
    position: absolute;
    z-index: 1;
    bottom: -450px;
    background-color: $tertiary_color__light;
    box-shadow: 2px 2px 6px #4b4b4b25;
    border-radius: 8px;
    padding: 15px 20px;
    width: 23%;
    overflow: hidden;
    transition: all .4s linear;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--hidden {
        height: 0px;
        bottom: -10px;
        padding: 0px;
    }

    &__close {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }

    &__close-icon {
        width: 26px;
        transform: rotateZ(45deg);
    }

    &__title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    &__ingredients {
        margin-bottom: 20px;
    }

    &__ingredients-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-height: 150px;
        overflow: hidden;
        overflow-y: scroll;
    }

    &__ingredient {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    &__parameter {
        display: inline-block;
        font-size: 18px;
        color: #5a5a5a;
        margin-bottom: 8px;
    }

    &__button-container {
        display: flex;
        justify-content: center;
    }

    &__button {
        cursor: pointer;
        border: 1px solid $main_text_color__light;
        text-transform: uppercase;
        padding: 10px 20px;
        font-size: 15px;
    }
}