@import "../../../../variables";

$default-color: #000;
$light-color: #000;
$active-item: #ff7919;

.circle-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    height: 790px;
    overflow: hidden;
    background-image: url('../../../../../public/images/background/gray-bg.jpg');
    background-size: cover;
    transition: all .2s ease;

    &--dark {
        background-image: url('../../../../../public/images/background/gray-dark-bg.jpg');
    }

    .main-circle {
        @include on-circle($item-count: 20, $circle-size: 980px, $item-size: 10px);

        &--dark {
            border-color: $main_text_color__dark;
        }

        &__dot {
            &--dark {
                background-color: $main_text_color__dark;
            }

            &--active {
                background-color: $active-item;
            }

            &--active::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border: 1px solid $active-item;
                border-radius: 50px;
            }

            &--hidden {
                display: none;
            }
        }

        &__dot-item {

            &--dark {
                color: $main_text_color__dark
            }

            &--active {
                color: $active-item;
            }

            &--hidden {
                display: none;
            }
        }

        &__buttons {
            position: absolute;
            top: 35%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__button {
            @include button(#000000c7, $main_text_color__dark);

            &:hover {
                background-color: #000;
            }

            &:active {
                transform: translateY(1px);
            }
        }

        .additional-circle {
            position: relative;
            @include flex-center;
            flex-direction: column;
            border-top: 1px solid $default-color;
            border-bottom: 1px solid $default-color;
            padding: 70px;
            border-radius: 100%;
            transition: transform .9s ease;

            &--dark {
                border-color: $main_text_color__dark;
            }

            &__image {
                opacity: .98;
                width: 50vw;
                height: 25vw;
                transition: all .9s ease;

                &--hidden {
                    transform: rotateX(180deg);
                }
            }
        }
    }
}

@media screen and (max-width: 1130px) {
    .circle-section {
        height: 650px;

        .main-circle {
            @include on-circle($item-count: 20, $circle-size: 780px, $item-size: 10px);
        }
    }
}

@media screen and (max-width: 900px) {
    .circle-section {
        padding-top: 100px;
        height: 540px;

        .main-circle {
            @include on-circle($item-count: 20, $circle-size: 610px, $item-size: 10px);

            .additional-circle {
                border: none;
            }
        }
    }
}

@media screen and (max-width: 700px) {}