@import "../../../../variables";

.menu-search {
    position: relative;
    margin-top: $margin_between_sections;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    &__search {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__input {
        font-size: 20px;
        border-bottom: 1.5px solid $main_dark_color;
        padding: 0 10px;
        width: 35%;

        &::placeholder {
            text-transform: capitalize;
        }

        &--dark {
            border-color: $main_light_color;
            color: $main_light_color;
        }
    }

    &__filter {
        margin-left: 10px;
        cursor: pointer;
    }

    &__icon {
        width: 30px;
        transition: all .2s ease;

        &:hover {
            transform: scale(1.1);
        }

        &--dark {
            filter: invert(1);
        }
    }
}

@media screen and (max-width: 900px) {
    .menu-search {
        margin-top: $margin_between_sections-mobile;

        &__input {
            width: 50%;
            font-size: 18px;
        }

        &__icon {
            width: 25px;
        }
    }
}