.map-container {
  height: 490px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .map-container {
    height: 400px;
  }
}

@media screen and (max-width: 550px) {
  .map-container {
    height: 300px;
  }
}