@import "../../variables";

.header-container {
    padding: 10px 40px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0; 
    transition: transform .4s linear;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9430365896358543) 100%);
    
    &--hidden{
        transform: translateY(-120px);
    }
    
    .header {
        margin: 0 auto;
        width: 100%;
        max-width: 1300px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__nav {
            display: flex;
            align-items: center;
            gap: 50px;
        } 

        &__button {
            @include button($tertiary, #fff, 50px, transparent, 16px);

            &--dark {
                background-color: $primary_dark-theme;
            }

            &:hover {
                opacity: 0.95;
                transform: translateY(-1px);
            }

            &:active {
                opacity: 1;
                transform: translateY(1px);
            }
        }

        &__button-mobile {
            display: none;
        }
    }
}


@media screen and (max-width: 900px) {
    .header-container {
        padding: 10px 16px;

        .header {
            .navigation  {
                display: none;
            }

            &__button {
                display: none;
            }

            &__button-mobile {
                display: block;
                cursor: pointer;
            }

            &__button-icon {
                width: 40px;
            }
        }
    }
}