@import "../../variables";

.header-container {
    padding: 10px 40px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__nav {
            display: flex;
            align-items: center;
            gap: 50px;
        }

        &__nav-list {
            display: flex;
            gap: 30px;
        }

        &__nav-item {
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;

            &--dark {
                color: $main_text_color__dark;
            }
        }

        &__button {
            @include button($primary_color__light, #fff);

            &--dark {
                background-color: $primary_color__dark;
            }

            &:hover {
                opacity: 0.95;
                transform: translateY(-1px);
            }

            &:active {
                opacity: 1;
                transform: translateY(1px);
            }
        }

        &__button-mobile {
            display: none;
        }
    }
}


@media screen and (max-width: 900px) {
    .header-container {
        padding: 10px 16px;

        .header {
            &__nav-list {
                display: none;
            }

            &__button {
                display: none;
            }

            &__button-mobile {
                display: block;
                cursor: pointer;
            }

            &__button-icon {
                width: 40px;
            }
        }
    }
}