@import "../../variables";

.flag {
    @include flex-center;
    width: 100%;

    &__line {
        display: inline-block;
        width: 10%;
        height: 2px;

        &:nth-child(1) {
            background-color: $green;
        }

        &:nth-child(2) {
            background-color: white;
        }

        &:nth-child(3) {
            background-color: $red;
        }
    }
}