@import "../../../../../../variables";

.pizza-smcell {
   position: relative; 
    margin-bottom: 20px;

    &__new{
        position: absolute;
        top: -15px;
        left: -24px;
        width: 30px;
    }

    &__name,
    &__ingredients {
        &--dark {
            color: $main_light_color;
        }
    }

    &__name {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 6px;
    }

    &__ingredients {
        font-size: 16px;
        opacity: 0.8;
        width: 90%;
    }
}