@import "../../../../variables";

.checkbox {
    display: flex; 
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover>&__checkmark {
        background-color: $select_active ;
    }

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.checkbox__checkmark {
            background-color: $select_active ;
        }

        &:checked~.checkbox__checkmark:after {
            display: block;
        }
    }

    &__text {
        font-size: 16px;
        text-transform: capitalize;
        cursor: pointer;

        &--dark {
            color: $main_light_color;
        }
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 2px;
        background-color: $select_default ;

        &:after {
            content: "";
            position: absolute;
            display: none;

            left: 6px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

@media screen and (max-width: 900px) {
    .checkbox {
        padding-left: 23px;
        &__text {
            font-size: 14px;
        }
        &__checkmark {
            height: 15px;
            width: 15px;
        }
    }
}