@import "../../../../variables";

.menu-list {
    position: relative;
    background-image: url("../../../../../public/images/background/menu-bg.png");
    border-radius: 8px;
    padding: 20px 30px;
    background-size: contain;

    &--dark {
        background-image: url("../../../../../public/images/background/menu-dark-bg.jpg");
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}