@import "../../../../variables";

.menu-list {
    position: relative;
    background-image: url("../../../../../public/images/background/menu-bg.png");
    border-radius: 8px;
    padding: 20px 30px;
    background-size: contain;

    &--dark {
        background-image: url("../../../../../public/images/background/menu-dark-bg.jpg");
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 640px) {
    .menu-list {
        padding: 15px 16px;

        &__items {
            gap: 20px;
        }
    }
}