@import "../../variables";

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $bg_color__light;
    position: relative;

    &--dark {
        background-color: $bg_color__dark;
    }

    .container {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 40px;
    }
}