@import "../../../variables";

$max-width: 250px;

.card {
    position: relative;
    max-width: calc($max-width + 20px);
    background-color: $main_light_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #7878783e;
    
    &--dark {
        background-color: $main_dark_color;
        box-shadow: 3px 3px 10px #000000b7; 
    }

    &__new {
        position: absolute;
        top: -15px;
        left: -15px;
        width: 40px;

        &--dark {
            filter: brightness(1.5);
        }
    }

    &__image {
        margin-top: 20px;
        width: 100%;
        max-width: $max-width;
        box-shadow: 4px 15px 20px #858585b8;
        border-radius: 100%;

        &--dark {
            box-shadow: 4px 10px 20px #000000b7;
            filter: grayscale(.1);
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__name-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__mobile-row {
        display: none;
    }

    &__name {
        white-space: nowrap;
        max-width: calc($max-width - 50px);
        text-overflow: ellipsis;
        font-size: 18px;
        font-weight: 500;

        &--dark {
            color: $main_light_color;
        }
    }

    &__add {
        cursor: pointer;
    }

    &__add-icon {
        width: 26px;

        &--dark {
            filter: invert(1);
        }
    }

    &__price {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;

        &--dark {
            color: $main_light_color;
        }
    }

    &__ingredients {
        max-width: $max-width;
        color: #868686;

        &--dark {
            color: $main_light_color;
        }
    }
}

@media screen and (max-width: 970px) {
    .card {
        flex-direction: row;
        max-width: 100%;
        gap: 25px;

        &__image {
            margin-top: 0px;
            max-width: 170px;
            box-shadow: 2px 7px 15px #7a7a7ab8;
        }

        &__data {
            width: 100%;
        }

        &__ingredients {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    .card {
        height: 100%;

        &__image {
            max-width: 120px;
        }
    }
}

@media screen and (max-width: 450px) {
    .card {
        padding: 14px;

        &__new {
            width: 35px;
            top: -10px;
            left: -10px;
        }

        &__mobile-row {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__image {
            display: none;
        }

        &__image-mobile {
            width: 100%;
            max-width: 90px;
            border-radius: 100%;
        }

        &__name-mobile {
            font-size: 18px;
            font-weight: 500;
        }

        &__name {
            display: none;
        }

        &__last-row {
            display: flex;
            flex-direction: row-reverse;
        }

        &__price {
            font-size: 19px;
            margin-bottom: 0;
            margin-left: 10px;
        }

        &__ingredients {
            font-size: 13px;
        }
    }
}