@import "../../variables";

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__prescription {
        @include gold_text;
    }

    &__text {
        font-size: 32px; 
        text-transform: capitalize;

        &--dark {
            color: $main_text_color__dark;
        }
    }
}