$main_text_color__light: #333;
$bg_color__light: #FAF1E6;
$primary_color__light: #064420;
$secondary_color__light: #E4EFE7;
$tertiary_color__light: #FDFAF6;

$main_text_color__dark: #fffcfc;
$bg_color__dark: #333;
$primary_color__dark: #A23131;
$secondary_color__dark: #A1DD70;
$tertiary_color__dark: #E8ECD6;

@mixin flex_center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container() {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}



@mixin on-circle($item-count, $circle-size, $item-size) {
    position: relative;
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;

    &__dot {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $item-size;
        height: $item-size;
        margin: -4px;

        $angle: (
            360 / $item-count
        );
    $rot: 0;

    @for $i from 1 through $item-count {
        &:nth-of-type(#{$i}) {
            transform:
                rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
        }

        $rot: $rot + $angle;
    }
}

&__dot-item {
    $angle: (
        360 / $item-count
    );
$rot: 0;

@for $i from 1 through $item-count {
    &:nth-of-type(#{$i}) {
        transform:
            rotate($rot * 1deg) translate($circle-size / 2 + 3) rotate(90deg);
    }

    $rot: $rot + $angle;
}
}
}