@import "../../../../variables";

.menu-section {
    @include container;
    margin-top: $margin_between_sections;

    &__menu {
        margin-top: 32px;
        display: flex;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 40px;
    }

    &__menu-separator {
        min-height: 100%;
        width: 1.5px;
        background-color: $main_dark_color;
        opacity: 0.4;
    }

    &__link-container {
        display: flex;
        justify-content: center;
    }

    &__link {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 1.5px solid transparent;
        transition: all .2s ease;

        &--dark {
            color: $main_light_color;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            height: 1px;
            transition: padding-left .2s ease-in-out;
        }

        &:hover::after {
            background-color: $main_dark_color;
            padding-left: 100%;
        }
    }
}

@media screen and (max-width: 900px) {
    .menu-section {
        padding: $container_padding-mobile;
        margin-top: $margin_between_sections-mobile;

        &__menu-separator,
        &__menu-separator~.small-table {
            display: none;
        }
    }
}