@import "../../variables";

.menu-container {
    margin-bottom: $margin_between_sections;

    .image-section {
        position: relative;
        height: 75vh;
        background-image: url("../../../public/images/background/menu.jpg");
        background-size: cover;
        @include flex-center;
        flex-direction: column;

        &__dark-bg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgb(0, 0, 0);
            background: radial-gradient(circle, rgba(0, 0, 0, 0.29037552521008403) 0%, rgba(0, 0, 0, 0.8253895308123249) 100%);
        }

        &__title {
            margin-top: 40px;
            z-index: 1;
            font-size: 4rem;
            text-transform: capitalize;
            color: $main_light_color;
            text-align: center;
            max-width: 90%;
        }

        &__button {
            margin-top: 50px;
            z-index: 1;
            @include button(transparent, $main_light_color, 0, $main_light_color, 18px);

            &:hover {
                background-color: $main_light_color;
                color: $main_dark_color;
            }
        }
    }

    .menu {
        @include container;
    }
}

@media screen and (max-width: 900px) {
    .menu-container {
        margin-bottom: $margin_between_sections-mobile;

        .image-section {
            height: 65vh;

            &__title {
                font-size: 3rem;
            }

            &__button {
                margin-top: 30px;
                @include button-mobile(16px)
            }
        }

        .menu {
            padding: $container_padding-mobile;
        }
    }
}

@media screen and (max-width: 360px) {
    .menu-container {
        .image-section {
            &__title {
                font-size: 2rem;
            }

            &__button {
                font-size: 14px;
            }
        }
    }
}