@import "../../variables";

.menu-container {
    margin-bottom: $margin_between_sections;

    &__image-section {
        height: 70vh;
        background-image: url("../../../public/images/sections-images/book-table-img.jpg");
        background-size: cover;
        @include flex-center;
        flex-direction: column
    }

    &__title {
        font-size: 40px;
        text-transform: capitalize;
    }

    &__button {
        cursor: pointer;
    }

    .menu {
        @include container;
    }
}